# **Standardization**
- Standardization means scaling the data into one scale
- we have different columns has different units so that the value will vary
- one column has very huge values
- another column has very less value
- so it is important to scale all type of units under one scale
- we have 2 procedures

# **Standardization**
- Z-score:- 
    <img class="XqHOTb IGEbUc" alt="Z = \frac{x - \mu}{\sigma}" src="https://www.gstatic.com/education/formulas2/553212783/en/z_score.svg" role="img" data-csiid="21" data-atf="0">

- value ranges from -3 to 3
- -------------------------------------------------------------------------------------------------------

# **Normalization**
<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/0222c9472478eec2857b8bcbfa4148ece4a11b84" class="mwe-math-fallback-image-inline mw-invert" aria-hidden="true" style="vertical-align: -2.338ex; width:19.569ex; height:5.676ex;" alt="{\displaystyle X'={\frac {X-X_{\min }}{X_{\max }-X_{\min }}}}">

- value ranges from 0 to 1

- Step-1:- Take prevailing_wage column
-    - z-score= x-mean/sigma
- Step-2:- Calculate mean of prevailing_wage
- Step-3:- Calculate Standard Deviation of prevailing_wage
- Step-4:- Numerator=prevailing_wage-mean
- Step-5: Prevailing_wage_Zscore= Numerator/Denominator

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file1=r"C:\Users\surya\Downloads\Python files\Visadataset.csv"
visa_df=pd.read_csv(file1)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [5]:
prevailing_wage=visa_df['prevailing_wage']
mean=np.mean(visa_df['prevailing_wage'])
std=np.std(visa_df['prevailing_wage'])
#prevailing_wage_zscore=(prevailing_wage-mean) / std
visa_df['prevailing_wage_zscore']=(prevailing_wage-mean) / std
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_zscore
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,-1.398537
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.169835
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.919079
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.169994
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,1.428604
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.049924
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,3.876159
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,1.360280
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.221509
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,-0.067763

In [8]:
visa_df[['prevailing_wage','prevailing_wage_zscore']]

       prevailing_wage  prevailing_wage_zscore
0             592.2029               -1.398537
1           83425.6500                0.169835
2          122996.8600                0.919079
3           83434.0300                0.169994
4          149907.3900                1.428604
...                ...                     ...
25475       77092.5700                0.049924
25476      279174.7900                3.876159
25477      146298.8500                1.360280
25478       86154.7700                0.221509
25479       70876.9100               -0.067763

[25480 rows x 2 columns]

In [11]:
np.max(visa_df['prevailing_wage_zscore']),np.max(visa_df['prevailing_wage'])

(4.634192776651002, 319210.27)

# we can say both are equal only if their id's are equal
- df.idxmax()  --> to calculate the max_wage id

In [13]:
visa_df['prevailing_wage_zscore'].idxmax()

21077

In [14]:
visa_df['prevailing_wage'].idxmax()

21077

In [15]:
# both ids are same
visa_df['prevailing_wage_zscore'].idxmax() == visa_df['prevailing_wage'].idxmax()

True

In [16]:
np.min(visa_df['prevailing_wage_zscore']),np.min(visa_df['prevailing_wage'])

(-1.409709562621037, 2.1367)

In [17]:
visa_df['prevailing_wage_zscore'].idxmin()

20575

In [18]:
visa_df['prevailing_wage'].idxmin()

20575

In [19]:
visa_df['prevailing_wage_zscore'].idxmin() == visa_df['prevailing_wage'].idxmin()

True

In [ ]:
#21077   max_value id
# 20575  min_value id
# can we get the both in a single table

In [21]:
visa_df[['prevailing_wage','prevailing_wage_zscore']].iloc[[21077,20575]]

       prevailing_wage  prevailing_wage_zscore
21077      319210.2700                4.634193
20575           2.1367               -1.409710

In [22]:
# same as above
cols=['prevailing_wage','prevailing_wage_zscore']
ids=[21077,20575]
visa_df[cols].iloc[ids]

       prevailing_wage  prevailing_wage_zscore
21077      319210.2700                4.634193
20575           2.1367               -1.409710

In [ ]:
# generally we override the column values
# because we want to clear our data before we apply ML model
# If we create any extra columkn make sure some of the non required columns

In [ ]:
# **Standardscalar**

In [28]:
# read the package
# save the package
# fit Transform

from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df['prevailing_wage'])

# we got error here because we need to use double braces for visa_df --> i.e; ss.fit_transform(visa_df[['prevailing_wage']])

ValueError: Expected 2D array, got 1D array instead:
array=[   592.2029  83425.65   122996.86   ... 146298.85    86154.77
  70876.91  ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [39]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df[['prevailing_wage']])
visa_df['prevailing_wage_ss']
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_minmaxscalar,prevailing_wage_mms,prevailing_wage_ss
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,0.001849,0.001849,-1.398537
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.261345,0.261345,0.169835
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.385312,0.385312,0.919079
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.261371,0.261371,0.169994
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,0.469616,0.469616,1.428604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.241505,0.241505,0.049924
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,0.874579,0.874579,3.876159
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,0.458311,0.458311,1.360280
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.269895,0.269895,0.221509
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,0.222033,0.222033,-0.067763

# **Normalization**
- valur ranges from 0-1

In [35]:
# Normalization
file1=r"C:\Users\surya\Downloads\Python files\Visadataset.csv"
visa_df=pd.read_csv(file1)
prevailing_wage=visa_df['prevailing_wage']
prevailing_wage_min=visa_df['prevailing_wage'].min()
prevailing_wage_max=visa_df['prevailing_wage'].max()
visa_df['prevailing_wage_minmaxscalar']=(prevailing_wage - prevailing_wage_min) / (prevailing_wage_max - prevailing_wage_min)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_minmaxscalar
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,0.001849
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.261345
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.385312
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.261371
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,0.469616
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.241505
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,0.874579
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,0.458311
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.269895
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,0.222033

In [42]:
visa_df['prevailing_wage_minmaxscalar'].min(),visa_df['prevailing_wage_minmaxscalar'].max()

(0.0, 1.0)

In [40]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
visa_df['prevailing_wage_mms']=mms.fit_transform(visa_df[['prevailing_wage']])
visa_df['prevailing_wage_mms']
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_minmaxscalar,prevailing_wage_mms,prevailing_wage_ss
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,0.001849,0.001849,-1.398537
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.261345,0.261345,0.169835
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.385312,0.385312,0.919079
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.261371,0.261371,0.169994
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,0.469616,0.469616,1.428604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.241505,0.241505,0.049924
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,0.874579,0.874579,3.876159
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,0.458311,0.458311,1.360280
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.269895,0.269895,0.221509
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,0.222033,0.222033,-0.067763

In [41]:
#package
visa_df['prevailing_wage_mms'].min(),visa_df['prevailing_wage_mms'].max()

(0.0, 0.9999999999999999)